body {
font-family: "Helvetica", "Arial", sans-serif;
}

#conteneur {
    position: relative;
    width: 450px;
    margin: auto;
    height: 500px;
}

#citation {
display: inline-block;
height: auto;
width: 450px;
background-color: lightgray;
margin: auto;
    margin-top: 80px;
border-radius: 4px;
}

.bouton {
display: inline-block;
position: absolute;
background-color: darkgray;
border: none;
text-decoration: none;
color: white;
font-size: 16px;
padding: 10px 12px;
}

#gaz {
/*margin-top: 10px;*/
right: 0px;
background-color: black;
}

#mots {
font-size: 22px;
text-align: center;
font-style: italic;
height: auto;
padding: 30px 25px 30px 25px;
}


#titre {
    width: 80%
}

#chuck {
    font-size: 2em
}


