body {
font-family: "Helvetica", "Arial", sans-serif;
}

#citation {
height: 150px;
width: 450px;
background-color: lightgray;
margin: auto;
border-radius: 4px;
}

button {
display: block;
margin: auto;
margin-top: 20px;
background-color: darkgray;
border: none;
text-decoration: none;
color: white;
font-size: 16px;
padding: 10px 12px;
}

#mots {
font-size: 22px;
text-align: center;
font-style: italic;
height: auto;
padding: 30px 25px 15px 25px;
}

#titre {
    width: 80%
}

#chuck {
    font-size: 2em
}


